@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');

body {
  --forager-white: #e8e7e7;
  --forager-red: #b94d4d;
  --forager-orange: #ffbc6c;
  
  
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Lucida Handwriting Std', sans-serif;
}

.page {
  background-color: var(--forager-white);
  background-image: url('https://www.transparenttextures.com/patterns/noisy.png'); 
  min-height: calc(100vh - 131px);
  width: 100%;
  padding-top: 1rem;
}

.page-title {
  margin: 0;
  width: 100%;
  text-align: center;
}

.link {
  color: var(--forager-orange);
  transition: transform 0.3s;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .page {
    min-height: calc(100vh - 151px);
  }
}