@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');

body {
  --forager-red: #b94d4d;
  --forager-orange: #ffbc6c;
  --forager-white: #e8e7e7;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Lucida Handwriting Std', sans-serif;
}